body {
    
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    max-width: 1000px;
    height: 100%;
    flex-flow: column;
    
    margin: auto;

}
.row {
    display: flex;
    height: 6.25%;
}
.column {
    flex: 1;
    width: 6.25%;
    border: 1px solid black;
}
